
<!doctype html>
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>{{ title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A robust suite of app and landing page templates by Medium Rare">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500" rel="stylesheet">
        <link href="assets/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/css/swiper.min.css">
        <link rel="stylesheet" href="assets/css/custom.css">
    </head>

    <body>

        <div class="nav-container">
            <div class="bg-dark navbar-dark" data-sticky="top">
                <div class="container">
                    <nav class="navbar navbar-expand-lg">
                        <a class="navbar-brand" href="/">
                            <img src="img/sportrunlogo.png" width="27%" />
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="icon-menu h4"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
                            
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Inicio</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#" class="nav-link">Eventos</a>
                                </li>
                                <li class="nav-item d-flex align-items-center">
                                    <a href="#" class="btn btn-success">Contato</a>
                                </li>
                            </ul>

                        </div>
                        <!--end nav collapse-->
                    </nav>
                </div>
                <!--end of container-->
            </div>
        </div>
        <div class="main-container">
            <section class="bg-dark overflow-hidden section-flex section-slide">
                    <div class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img src="http://www.gamela.com.br/v2-2014-4/hz.61.x/img/rapel-gamela-02.jpg" width="100%" alt="">
                                    <span class="subtitule"><h2 class="display-6">Exemplo 1</h2></span>
                                </div>
                                <div class="swiper-slide">
                                    <img src="http://www.patagonia.com/static/on/demandware.static/-/Library-Sites-PatagoniaShared/default/dwf01b72ae/zcommerce/images/hero/1920x1080_schultz_t_0160.jpg" width="100%" alt="">
                                    <span class="subtitule"><h2 class="display-6">Exemplo 2</h2></span>
                                </div>
                                <div class="swiper-slide">
                                    <img src="https://revistadedesporto.files.wordpress.com/2015/09/skate.jpg" width="100%" alt="">
                                    <span class="subtitule"><h2 class="display-6">Exemplo 3</h2></span>
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/4.jpeg" width="100%" alt="">
                                    <span class="subtitule"><h2 class="display-6">Exemplo 4</h2></span>
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/5.jpeg" width="100%" alt="">
                                    <span class="subtitule"><h2 class="display-6">Exemplo 5</h2></span>
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/6.jpeg" width="100%" alt="">
                                    <span class="subtitule"><h2 class="display-6">Exemplo 6</h2></span>
                                </div>
                                <div class="swiper-slide">
                                    <img src="img/7.jpeg" width="100%" alt="">
                                    <span class="subtitule"><h2 class="display-6">Exemplo 7</h2></span>
                                </div>
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination"></div>
                            <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
                          </div>
      
                <!--end of container-->
            </section>
            <!--end of section-->
            <section>
                <div class="container">
                    <div class="row justify-content-center text-center section-intro">
                        <div class="col-12 col-md-9 col-lg-8">
                            <span class="title-decorative">Texto de Abordagem</span>
                            <h2 class="display-4">Organize seu evento</h2>
                            <span class="lead">Aqui a gente fala sobre a organiização de evento, um breve texto, nem tão longo, mas tbm nem tão curto!</span>

                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <ul class="row feature-list feature-list-sm">
                        <li class="col-12 col-md-4">
                            <a href="pages-landing.html" class="card">
                                <img alt="Image" src="http://www.gamela.com.br/v2-2014-4/hz.61.x/img/rapel-gamela-02.jpg" class="img-fluid rounded" />
                            </a>
                            <h5>Rapel</h5>
                            <p>
                                Poderás dar descrições ou postar eventos nessa seção do site!
                            </p>
                            
                        </li>
                        <li class="col-12 col-md-4">
                            <a href="pages-landing.html" class="card">
                                <img alt="Image" src="http://www.gamela.com.br/v2-2014-4/hz.61.x/img/rapel-gamela-02.jpg" class="img-fluid rounded" />
                            </a>
                            <h5>Rapel</h5>
                            <p>
                                Poderás dar descrições ou postar eventos nessa seção do site!
                            </p>
                            
                        </li>
                        <li class="col-12 col-md-4">
                            <a href="pages-landing.html" class="card">
                                <img alt="Image" src="http://www.gamela.com.br/v2-2014-4/hz.61.x/img/rapel-gamela-02.jpg" class="img-fluid rounded" />
                            </a>
                            <h5>Rapel</h5>
                            <p>
                                Poderás dar descrições ou postar eventos nessa seção do site!
                            </p>
                            
                        </li>
                        <li class="col-12 col-md-4">
                            <a href="pages-landing.html" class="card">
                                <img alt="Image" src="http://www.gamela.com.br/v2-2014-4/hz.61.x/img/rapel-gamela-02.jpg" class="img-fluid rounded" />
                            </a>
                            <h5>Rapel</h5>
                            <p>
                                Poderás dar descrições ou postar eventos nessa seção do site!
                            </p>
                            
                        </li>
                        <!--end of col-->
                    </ul>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section class="bg-white">
                <div class="container">
                    <div class="row justify-content-around align-items-center">
                        <div class="col-12 col-md-6 col-lg-5 text-center text-md-left section-intro">
                            <span class="title-decorative">Todos os esportes</span>
                            <h3 class="h1">Sports Run</h3>
                            <span class="lead">
                                A Sports Run organiza eventos de todos esportes, des de corrida à surf!
                            </span>
                            <a href="#">Sobre</a>
                        </div>
                        <!--end of col-->
                        <div class="col-8 col-md-6 col-lg-4">
                            <img alt="Image" src="http://www.vizrt.com/incoming/32405/Sports_Online_2473a.png/alternates/w940/Sports_Online_2473a.png" class="img-fluid" />
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section class="bg-gradient text-white space-lg">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-12 col-lg-10">
                            <div class="media">
                                <img alt="Image" src="http://www.thehindu.com/sci-tech/technology/internet/article17759222.ece/alternates/FREE_660/02th-egg-person" class="avatar avatar-lg" />
                                <div class="media-body">
                                    <p class="h2">
                                        “Depoimento do CEO.”
                                    </p>
                                    <span>CEO</span>
                                </div>
                            </div>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section>
                <div class="container">
                    <div class="row justify-content-center text-center section-intro">
                        <div class="col-12 col-md-9 col-lg-8">
                            <span class="title-decorative">Eventos</span>
                            <h2 class="display-4">Veja nossos eventos marcados</h2>
                            <span class="lead">Acompanhe alguns de nossos eventos marcados para acontecer</span>

                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <div class="row justify-content-around align-items-center">
                        <div class="col-12 col-md-6 col-lg-5 order-md-2">
                            <ul class="nav" id="myTab" role="tablist">
                                <li>
                                    <div class="active card" id="tab-1" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">
                                        <div class="card-body">
                                            <h5>Corrida</h5>
                                            <p>
                                                Evento: Corrida - Local 1, às 09:00 hrs Sab 23/12 
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class=" card" id="tab-2" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">
                                        <div class="card-body">
                                            <h5>Maratona</h5>
                                            <p>
                                                Evento: Corrida - Local 1, às 09:00 hrs Sab 23/12 
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="card" id="tab-3" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="true">
                                        <div class="card-body">
                                            <h5>Surf</h5>
                                            <p>
                                                Evento: Corrida - Local 1, às 09:00 hrs Sab 23/12 
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-6 order-md-1">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="tab-1">
                                    <img alt="Image" class="img-fluid box-shadow" src="https://nicershoes.com/wp-content/uploads/2017/12/best-Kids-Running-Shoes.jpg" />
                                </div>
                                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="tab-2">
                                    <img alt="Image" class="img-fluid box-shadow" src="http://www.golazo.com/wp-content/uploads/2017/01/Running-KidsRun.jpg" />
                                </div>
                                <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="tab-3">
                                    <img alt="Image" class="img-fluid box-shadow" src="https://s3.glbimg.com/v1/AUTH_e23cd0767cb84b2c865c204683cba493/articles/gabrielmedina54.jpg" />
                                </div>
                            </div>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                    <div class="row justify-content-center text-center section-outro">
                        <div class="col-lg-4 col-md-5">
                            <h6>Ver mais detalhes</h6>
                            <p>Click para saber mais sobre nossos eventos.</p>
                            <a href="#">Ver</a>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <section class="bg-gradient p-0 text-white">
                <svg class="decorative-divider" preserveAspectRatio="none" viewbox=" 0 0 100 100">
                    <polygon fill="#F8F9FB" points="0 0 100 0 100 100"></polygon>
                </svg>
                <div class="container space-lg">
                    <div class="row text-center">
                        <div class="col">
                            <h3 class="h1">Entre em contato conosco</h3>
                            <a href="#" class="btn btn-lg btn-light">Contatar</a>
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <!--end of section-->
            <footer class="bg-gray text-light footer-long">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-3">
                            <img alt="Image" src="img/sportrunlogo.png" width="60%" class="mb-4" />
                            <p class="text-muted">
                                &copy; 2018 Sports Run
                                <br /> Criador por Rafael Gomes
                            </p>
                        </div>
                        <!--end of col-->
                        <div class="col-12 col-md-9">
                            <div class="row no-gutters">
                                <div class="col-6 col-lg-3">
                                    <h6>Categoria</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="">Exemplo 1</a>
                                        </li>
                                        <li>
                                            <a href="">Exemplo 2</a>
                                        </li>
                                        <li>
                                            <a href="">Exemplo 3</a>
                                        </li>
                                        <li>
                                            <a href="">Exemplo 4</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h6>Categoria 2</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="">Exemplo 1</a>
                                        </li>
                                        <li>
                                            <a href="">Exemplo 2</a>
                                        </li>
                                        <li>
                                            <a href="">Exemplo 3</a>
                                        </li>
                                        <li>
                                            <a href="">Exemplo 4</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h6>Categoria 3</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="">Exemplo 1</a>
                                        </li>
                                        <li>
                                            <a href="">Exemplo 2</a>
                                        </li>
                                        <li>
                                            <a href="">Exemplo 3</a>
                                        </li>
                                        <li>
                                            <a href="">Exemplo 4</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                                <div class="col-6 col-lg-3">
                                    <h6>Categoria 4</h6>
                                    <ul class="list-unstyled">
                                        <li>
                                            <a href="">Exemplo 1</a>
                                        </li>
                                        <li>
                                            <a href="">Exemplo 2</a>
                                        </li>
                                        <li>
                                            <a href="">Exemplo 3</a>
                                        </li>
                                        <li>
                                            <a href="">Exemplo 4</a>
                                        </li>
                                    </ul>
                                </div>
                                <!--end of col-->
                            </div>
                            <!--end of row-->
                        </div>
                        <!--end of col-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>



        <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.0/js/swiper.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.13.0/umd/popper.min.js"></script>
        <script type="text/javascript" src="assets/js/scrollMonitor.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/smooth-scroll/12.1.5/js/smooth-scroll.polyfills.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.10.0/prism.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="assets/js/theme.js"></script>
        
        <script>
            var swiper = new Swiper('.swiper-container', {
                loop: true,
                navigation: {
                    nextEl: '.swiper-button-next',
                    prevEl: '.swiper-button-prev',
                },
                pagination: {
                    el: '.swiper-pagination',
                    dynamicBullets: true,
                    clickable: true
                }
            });
        </script>

    </body>

</html>
